body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-rows: 5fr 22fr 3fr;
    grid-template-columns: 1fr 4fr;

    background-color: rgb(0, 255, 152);
}

/*
body > * {
  border: solid;
  border-color: aliceblue;
  border-collapse: collapse;
}
*/

#page-title {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 8vh;

  grid-column-start: 1;
  grid-column-end: 3;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /*
  border-top: none;
  border-left: none;
  */
}

#navbar {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 3;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /*border-left: none;*/
}