body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-rows: 5fr 22fr 3fr;
    grid-template-columns: 1fr 4fr;
    z-index: 0;
}

/*
body > * {
  border: solid;
  border-color: aliceblue;
  border-collapse: collapse;
}
*/

header#main-header {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 8vh;
  color: #93B7BE;

  grid-column-start: 1;
  grid-column-end: 3;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #3366CC;

  /*
  border-top: none;
  border-left: none;
  */
}

header#main-header img {
  height: 13vh;
  width: auto;
  margin-left: 40px;
  margin-right: 20px;
}

header#main-header span {
  margin-left: 20px;
  margin-right: 20px;
}

nav {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 3;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #ADE25D;

  /*border-left: none;*/
}

nav h1 {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: #588157;
}

nav .button {
  width: 80%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-grow: 1;
  border-radius: 30px;
  
  background-color: #EFFA23 /*#61A0AF/*#74B3CE*/;

  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}

nav .button:hover {
  transform: scale(1.1) perspective(1px);
}

nav .button span {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 2vw;
  text-align: center;
  color: #FC9E4F;
}

footer {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 4vh;

  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 3;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #BEF188;
  color:#676F54;
}

article {
  background-color: #CFFFB3;
  color: #584B53;

  padding: 20px;

  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 2;
  grid-row-end: 3;

  display: flex;
  flex-direction: column;

  overflow-y: scroll;
}

article header {
  width: 100%;
  height: auto;
  margin-bottom: 2%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 8vh;
  text-align: center;
}

article h1 {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}

article section {
  width: 100%
}

article p {
  width: 100%;

  font-family: "Raleway", sans-serif;
  font-size: 130%;
  text-align: justify;
}

article figure figcaption {
  font-family: "Raleway", sans-serif;
  font-size: 130%;
  text-align: center;
}

article figure {
  width: 100%;
  height: auto;
  margin-left: 0;
  margin-right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

article figure img {
  width: 85%;
  height: inherit;
}


article .image-container {
  width: 100%;
  height: auto;

  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
}

article .image-container img {
  height: auto;
  width: 80%;
  border-radius: 20px;
}

article ol > li{
  text-indent: none;
}

article #location #map-container {
  width: 100%;
  height: auto;
  margin-left: 0;
  margin-right: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

article .gallery {
  width: 64vw;
  height: 36vw; /*Calculated to maintain image proportion*/ 
  align-self: center;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
  
article .gallery .slide-button {
  width: 9%;
  height: 100%;
  background-color: #08605F;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

article .gallery .slide-button span {
  font-size: 8vh;
  color: white;
  text-align: center;
}

article .gallery .slide-button:hover {
  opacity: 60%;
}

article .gallery .slide-left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-right: 1%;
}

article .gallery .slide-right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: 1%;
}
  
article .gallery .slide-window {
  width: 80%;
  height: 98%;
  
  border-style: solid;
  border-radius: 20px;
  border-color: #08605F;
  
  display: flex;
  flex-direction: row;
  justify-content: left;
  overflow: hidden;
}

article .gallery .slider {
  width: auto;
  height: 100%;
  position: relative;
  left: 0;

  display: grid;
  grid-auto-flow: column;
  column-gap: 50vw;
  align-items: center;
  justify-content: center;
  grid-auto-columns: max-content;

  transition: left 0.5s ease-in-out;
}

article .gallery .slider img {
  object-fit: contain;
  width: 50vw;
  height: 95%;

  margin: 0;
  display: block;
}

