body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-rows: 5fr 22fr 3fr;
    grid-template-columns: 1fr 4fr;
}

/*
body > * {
  border: solid;
  border-color: aliceblue;
  border-collapse: collapse;
}
*/

header {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 8vh;
  color: #93B7BE;

  grid-column-start: 1;
  grid-column-end: 3;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #3366CC;

  /*
  border-top: none;
  border-left: none;
  */
}

nav {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 3;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #ADE25D;

  /*border-left: none;*/
}

footer {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 4vh;

  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 3;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #BEF188;
  color:#676F54;
}

article {
  background-color: #CFFFB3;
  color: #584B53;

  padding: 20px;

  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 2;
  grid-row-end: 3;

  display: flex;
  flex-direction: column;

  overflow-y: scroll;
}

article h1 {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  margin-top: 2px;
  margin-bottom: 2px;
}

article p {
  font-family: "Raleway", sans-serif;
  font-size: 130%;
}

article figure {
  width: 90%;
  height: auto;
  margin-left: 0;
  margin-right: 0;
}

article figure img {
  width: inherit;
  height: inherit;
}