html{
  background-color: #F6F5EF;
  font-family: Verdana;
  height: auto;
}

body {
  background-color: inherit;
  height: auto;
  color: #3C3D3E;
}

.main-container {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 15vh 7vw 15vh 7vw;
}

#main-list > li > a {
  font-weight: bold
}

#article {
  font-size: 2vw;
}

#article p {
  text-align: justify;
}

#article h1 {
  margin-bottom: auto;
}

#article h4 {
  font-weight: lighter;
  margin-top: auto;
  color: #4d4f50;
}

#article-image > * {
  width: 100%;
  height: auto;
  image-rendering: smooth;
  margin: 0;
}
  
#product-table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
}

#product-table table {
  width: 100%;
  height: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

#product-table table * {
  border: 2px solid rgb(134, 220, 4);
}

#product-table table th, td {
  padding: 4px;
}

#box-container {
  height: auto;
  width: 50%;
  display: inherit;
  flex-direction: inherit;
  align-self: center;
  justify-self: center;
  row-gap: 20px;
}

.box-row {
  size: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 4px;
}

.box {
  width: 100px;
  height: 100px;
}
