html {
  background-color: #2feeee;
  font-family: Verdana;
  height: auto;
}

body {
  height: auto;
  color: white;
}

.main-container {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15vh 7vw 15vh 7vw;
}

#article {
  align: left;
  font-size: 2vw;
}

#article p {
  text-align: justify;
}

#article h1 {
  margin-bottom: auto;
}

#article h4 {
  font-weight: lighter;
  margin-top: auto;
  color: rgb(231, 139, 193);
}

#article-image > * {
  width: 100%;
  height: auto;
  image-rendering: smooth;
  margin: 0;
}

