html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: black;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;

    font-family: "JetBrains Mono", sans-serif;
    font-size: 8rem;
    color: #20C20E;
    text-align: center;
}

main h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#controls-container {
    width: 100%;
    height: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#controls-container > div {
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#controls-container input
{
  height: 10vh;

  border-radius: 20px;
  color: white;
  background-color: #20C20E;
  font-family: "Elms Sans", sans-serif;
  font-size: 8rem;
  text-align: center;
}

#controls-container input[type="number"] {
  width: 20%;
}

#controls-container input[type="checkbox"] {
  width: 15%;
}

#controls-container label {
  font-size: 5rem;
}

#gen-button {
  margin: auto;
  padding: 30px
}

#gen-button:hover {
  transform: scale(1.05) ;
}

@media screen and (width <= 400px) {
  #controls-container {
    flex-direction: column;
    align-items: center;
  }

  #controls-container input {
    width: 100%;
  }
}