html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: black;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;

    font-family: "Science Gothic", sans-serif;
    font-size: 10vw;
    color: red;
}

main h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#controls-container {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#controls-container input
{
  width: 30%;
  height: 10vh;

  border-radius: 20px;
  color: white;
  background-color: red;
  font-family: "Elms Sans", sans-serif;
}

@media screen and (width <= 400px) {
  #controls-container {
    flex-direction: column;
    align-items: center;
  }

  #controls-container input {
    width: 100%;
  }
}