html, body {
    width: 100vw;
    height: auto;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
main {
  width: 100%;
  height: auto;
  padding: 30px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;

  font-family: "JetBrains Mono", sans-serif;
  font-size: 3rem;
  color: #20C20E;
  text-align: center;
}

main h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

main .shop-item {
  width: 90%;
  height: auto;
  border-radius: 20px;
  background-color: #E8EFE4;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
  margin: 30px;

  display: grid;
  grid-template-columns: 9fr 1fr;
  row-gap: 0;
  grid-template-rows: 3fr 7fr;

  font-size: 1vw;
}

.shop-item .title {
  font-size: 150%;
  grid-column-end: 2;
  grid-row-end: 2;

  width: 100%;
}

.shop-item .thumbnail {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;

  width: 100%;
}

.shop-item .description {
  grid-row-start: 2;
  grid-column-end: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
}

@media screen and (width <= 400px) {
  #controls-container {
    flex-direction: column;
    align-items: center;
  }

  #controls-container input {
    width: 100%;
  }
}